/* Общие стили */
.password-reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  text-align: center;
}

/* Стили для формы сброса пароля */
.password-reset-form {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.password-reset-form h2 {
  margin-bottom: 20px;
  color: #fff;
}

/* Стили для полей ввода */
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #2a2a2a;
  color: #fff;
}

.input-field::placeholder {
  color: #777;
}

/* Стили для кнопки отправки */
.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #1ed760;
}

/* Стили для сообщения об ошибке */
.error-message {
  color: red;
  margin-top: 10px;
}

/* Стили для сообщения об успешной операции */
.success-message {
  color: #1db954;
  margin-top: 10px;
}